{% extends 'main.html' %} {% block content %}
<style>
  .institute_charts {
    background: linear-gradient(
      135deg,
      #ff9a9e,
      #fad0c4,
      #fad0c4,
      #fbc2eb,
      #a18cd1,
      #fad0c4,
      #ff9a9e
    );
    border-radius: 10px;
    padding: 20px; 
  }

  .institute_charts canvas {
    height: 500px; 
    width: 100%; 
  }
</style>

<div class="institute_charts">
  <div>
    <canvas id="myChart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    var values = {
        labels: [2018, 2019, 2020, 2021, 2022],
        datasets: [
            {% for x in df2 %}
            {
                label: '{{x.institute}} , {{x.Branch}}',
                data: [
                    {% for y in df1 %}
                    {% if y.institute == x.institute %}
                    {{y.Closing_rank}},
                    {% endif %}
                    {% endfor %}
                ],
                fill: false,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 20, 78, 0.8)',
                    'rgba(75, 192, 192, 0.8)',
                    'rgba(153, 102, 255, 0.8)',
                    'rgba(255, 159, 64, 0.8)',
                    'rgba(240, 120, 50, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 20, 78, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(240, 120, 50, 1)',
                ],
                borderWidth: 2
            },
            {% endfor %}
        ]
    };

    // for graph
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
        type: 'line',
        data: values,
        options: {
            maintainAspectRatio: false, 
            animations: {
                tension: {
                    duration: 1000,
                    easing: 'linear',
                    from: 0.5,
                    to: 0.1,
                    loop: true
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Institute-wise'
                },
                legend: {
                    position: 'top',
                    align: 'end',
                }
            },
            elements: {
                point: {
                    hitRadius: 5,
                    hoverRadius: 8,
                    pointStyle: 'rectRounded',
                }
            },
            scales: {
                x: {
                    grid: {
                        display: true,
                        color: "#595959",
                        lineWidth: 1
                    },
                    ticks: {
                        color: "#595959",
                        maxRotation: 45,
                        minRotation: 45
                    }
                },
                y: {
                    grid: {
                        display: true,
                        color: "#595959"
                    },
                    ticks: {
                        color: "#595959"
                    }
                }
            }
        }
    });
  </script>
</div>

{% endblock content %}
